<footer>
    <div class="footer-box">
        <ul class="nav">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/hours">Shifts</a></li>
            <li><a href="/transactions">Transactions</a></li>
            <li><a href="/cars">Cars</a></li>
        </ul>
    </div>
</footer>