<footer>
    <div class="footer-box">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/hours/add">Add Shift</a></li>
            <li><a href="/hours">Calendar</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/transactions">Transactions</a></li>
        </ul>
    </div>
</footer>