<footer>
    <div class="footer-box">
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/hours">Hours</a></li>
            <li><a href="/transactions">Transactions</a></li>
        </ul>
    </div>
</footer>