<header>
    <div class="header-box">
        <h1 class="title">garage-manager</h1>
        <button class="login" id="loginButton" onclick=""></button>
    </div>
</header>

<ul class="topnav">
    <li><a href="/">Home</a></li>
    <li><a href="/hours">Hours</a></li>
    <li><a href="/transactions">Transactions</a></li>
</ul>