<!DOCTYPE html>
<html lang="en">

<%- include("partials/head") %>

<body>
    <%- include("partials/profile-button") %>

    <h1 class="subheader">Home</h1>

    <%- include("partials/footer") %>
</body>
</html>