<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>garage-manager</title>
</head>
<body>
    <%- include("partials/profile-button") %>

    <h1 class="subheader">Login</h1>

    <form action="/login" method="POST">
        <%- include("partials/field", {
            label: "Username",
            name: "username",
            type: "text",
            required: true,
            form_values,
            input_errors
        }) %>

        <%- include("partials/field", {
            label: "Password",
            name: "password",
            type: "password",
            required: true,
            form_values,
            input_errors
        }) %>

        <button type="submit">Log In</button>
    </form>
</body>

<%- include("partials/footer") %>
</html>